# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.sqlite3

# Environment variables
.env
.venv
venv/
env/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code
.vscode/
*.code-workspace

# Build/dist artifacts
dist/
build/
*.egg-info/

# Node dependencies
node_modules/

# IDE files
.idea/
