fastapi
uvicorn
psycopg2-binary
sentence-transformers
python-dotenv
pandas
requests
langchain-naver
langchain
langchain-community
gunicorn
langchain-core
psycopg2-binary
pandas
tiktoken
arize-phoenix
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp
